
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.custom-drawer-paper {
  position: static !important; /* Override the position to static */
}


